<slider></slider>
<div class="l-container-2col">
    <aside class="l-container-first-col">
        <sidebar title="{{'room.type.junior' | translate}}"
                 services="junior.services"
                 with-body="true" with-footer="true"></sidebar>
    </aside>
    <div class="l-container-second-col">
        <article>
            <div class="article-title">
                <h1>
                    {{ "room.type.junior" | translate }}
                </h1>
            </div>
            <div class="article-body">
                <div class="article-slider">
                    <img class="article-image" src="img/junior_suite.jpg" alt="">
                </div>
                <p class="article-text" >
                    {{ "rooms.junior.introText" | translate }}
                </p>
            </div>
            <room-price room-type-key="room.type.junior" price="455"></room-price>
            <button class="btn-default">Booking</button>
        </article>
    </div>
</div>