.wrap {
	@include container;

	
	/*********************************** NAVBAR (HIDDEN MOBILE) ***********************************/

	
	

	/********************************** HEADER (WITH NAVBAR DESKTOP) ******************************/

	header {
		@include span(full);
		
		.logo-container	{			

			.logo {
				width: $logo-width + 1em;		
				height: 4.375em !important;

				&::before {
					border-right: ($logo-triangles-brd-width + 0.5em) solid transparent;
					border-left: ($logo-triangles-brd-width + 0.5em) solid transparent;
				}

				&::after {
					top: 4.4em !important;
					border-right: ($logo-triangles-brd-width + 0.5em) solid transparent;
					border-left: ($logo-triangles-brd-width + 0.5em) solid transparent;
				}

				img {
					max-width: 7em;					
				}
			}
		}

	}

	/**************************************** IMAGE CAROUSEL **************************************/

	.carousel {
		@include span(full);		
		
		margin-top: $nav-height;

		.booking {
			background: $brand-primary;
			color: white;
			padding: .5em 0;
			text-align: center;
			margin-top: -.187em;
			cursor: pointer;			
		}
	}


	/********************************** TESTIMONIALS SECTION **************************************/

	.testimonials {
		@include container;		
				
		.avatar {
			@include span(3 of 12);
			padding-top: .8em;
		}

		.dialog-box {
			@include span(8 of 12);


			&::before {
				content: '';
				position: absolute;
				border-style: solid;
				border-width: 20px 20px 20px 0;
				border-color: transparent #babfc1;
				display: block;
				width: 0;
				z-index: 1;
				margin-top: -20px;
				left: -20px;
				top: 50%;
			}

			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				border-width: 19px 19px 19px 0;
				border-color: transparent #fff;
				display: block;
				width: 0;
				z-index: 1;
				margin-top: -20px;
				left: -19px;
				top: 50%;
				
			}
		}
	}

	.relais {
		@include span(full);		
		padding: 2em 2em;
		img.relais-logo {
			width: 100%;
			max-width: 15%;
		}
		img.relais-divider {
			width: 40% !important;
		}
	}

	/******************************************* MAIN CONTENT AREA *******************************/

	#main-content {
		article {
			@include span(full);
			
			.cards-container {

				@include clearfix;
				
				.card {
					@include container;
					
					hr {
						margin: .8em auto;					
						border: 0;
						border-top: 1px solid #eee;										
						width: 60%
					}

					.card-head {
						@include span(6 of 12);
						overflow: hidden;
						text-align: center;
						height: 15em;	
						padding: 1em;					

						&::before {
							content: ' ';
						    display: inline-block;
						    vertical-align: middle;  /* vertical alignment of the inline element */
						    height: 100%;
						}
						
						.card-img {
							position: relative; /* allows repositioning */
    						left: 100%; /* move the whole width of the image to the right */
    						margin-left: -200%; /* magic! */
							display: inline;
							vertical-align: middle;
							border-radius: 4px !important;
						}

						.card-icon {							
							position: relative;
							top: -10%;					
							
							width: 2.5em;
							height: 2.5em;

							img {
								width: 60%;
								margin-top: .4em;
							}						
						}
					}

					.card-body {
						@include span(6 of 12 last);
						display: inline;
						padding: 2em 1.2em 0.8em;
					}

				}

			}
			
		}
	}

	/******************************************* FOOTER *******************************************/

	footer {
		@include span(full);
		background: $brand-secondary;
		color: white;
		text-align: center;	

		.shape-container {
			@include span(6 of 12);
			display: block !important;
			position: relative;

			.footer-shape {
				padding: 2.3em;
				background: $brand-primary;
				border-radius: 0 0 20px 0;
			}

			&::after {
				content: '';
				position: absolute !important;
				right: -38px;
				height: 0;
				top: 0;
				border-style: solid;
				border-width: 83px 40px 0 0;
				border-color: #000000 transparent transparent transparent;
			}

			&::before {
				content: '';
				position: absolute !important;
				right: -32px;
				height: 0;
				top: 0;
				z-index: 2;
				border-style: solid;
				border-width: 80px 34px 0 0;
				border-color: $brand-primary transparent transparent transparent;
			}


		}

		.subscribe {
			@include span(6 of 12 last);

			input[type=text].subscribe-email {
				width: 68%;
			}

			.subscribe-button {

			}
		}	

		
	}
}