* {
	margin: 0;
	padding: 0;
	font-size: 16px;	
	font-family: geniusthin;
}

body {
	height: 100%;
}

a, button {
	text-decoration: none;
	outline: 0px none;
}

ul {
	list-style: none;
}






/* Custom scrollbars for webkit - decide later */
/* ::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
  background: #b6b8bd;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
::-webkit-scrollbar-thumb:active {
  background: #333;
} */