@import "variables/_variables";
@import "utilities/parallaxMixin";

$susy: (
	global-box-sizing: border-box,
	columns: 12,
	container: $max-container-width,
);

@import "lib/lib";

@import "base/_reset";
@import "base/_objects";

@import "layout/_base";


@import "components/header/headerComponent";
@import "components/navbar/navbarComponent";
@import "components/bookingHandle/bookingHandleComponent";
@import "components/cssSlider/_css_slider";
@import "components/testimonials/testimonialsComponent";
@import "components/relaisSection/relaisSectionComponent";
@import "components/footer/footerComponent";
@import "components/socialMedia/social";
@import "components/legal/legalSectionComponent";
@import "components/card/cardComponent";
@import "components/homeCardsContainer/homeCardsContainerComponent";
@import "components/introHeading/introHeading";
@import "components/sidebar/sidebarComponent";
@import "components/articleBody/articleBodyComponent";
@import "components/priceIndicator/priceIndicatorComponent";



@include border-box-sizing;

/*


@import "base/_base";   

@import "room-suites-pages";


@media screen and (min-width: 42em) {
    @import "min-width42em/_min-width-42em";
}

@media screen and (min-width: 56em) {
    @import "min-width56em/_min-width-56em";
}

@media screen and (min-width: 100em) {
    @import "min-width100em/_min-width-100em";
}*/

