@import "variables/_variables";
@import "utilities/parallaxMixin";

$susy: (
	global-box-sizing: border-box,
	columns: 12,
	container: $max-container-width,
);

@import "lib/lib";

@import "base/_reset";
@import "utilities/utilityClasses";
@import "base/_objects";

@import "layout/_base";


@import "components/header/headerComponent";
@import "components/languageSelectorComponent/languageSelectorComponent";
@import "components/navbar/navbarComponent";
@import "components/bookingHandle/bookingHandleComponent";
@import "components/slider/slider";
@import "components/testimonials/testimonialsComponent";
@import "components/relaisSection/relaisSectionComponent";
@import "components/footer/footerComponent";
@import "components/socialMedia/social";
@import "components/legal/legalSectionComponent";
@import "components/card/cardComponent";
@import "components/homeCardsContainer/homeCardsContainerComponent";
@import "components/introHeading/introHeading";
@import "components/sidebar/sidebarComponent";
@import "components/articleBody/articleBodyComponent";
@import "components/priceIndicator/priceIndicatorComponent";
@import "components/dropdown/dropdownComponent";
@import "components/locationComponent/locationComponent";


@include border-box-sizing;