<li class="menu-item dropdown">
    <a class="dropdown-toggle">{{dropdown.droppdownText}}
        <span class="caret">
            <i class="moon-arrow-right17"></i>
        </span>
    </a>
    <ul class="dropdown-menu">
        <li class="menu-item" ng-repeat="item in dropdown.dropdownMenu">
            <a ng-href="{{item.url}}">{{item.text}}</a>
        </li>
        <!--<li class="menu-item"><a href="#!/juniorSuite">Junior Suite</a></li>
        <li class="menu-item"><a href="#!/doubleSuite">Double Suite</a></li>
        <li class="menu-item"><a href="#!/deluxeSuite">Deluxe Suite</a></li>-->
    </ul>
</li>