footer {
	@include container(12);
	background: $brand-secondary;
	color: white;
	text-align: center;	

	.shape-container {
		@include span(4 of 12);	
	}

	.subscribe {
		@include span(8 of 12 last);			
	}

	@import "footerCol56em.scss";	

	@import "siteInfo56em.scss";
}