.sub-menu {
	position: absolute;
	top: 10%;
	right: 14%;					

	a {
		color: $brand-primary;
		padding: 1em 0 !important;
		&:hover {
			color: white !important;
		}
	}

	li {
		&::after {
			content: " | ";
			color: $brand-primary;
		}
		&:last-child::after {
			content: none;
		}
	}
}

.menu {	
	.menu-item {
		display: inline !important;
		padding: 0;		
		border: none !important;					
		
		&:hover {
			background: none !important;						
		}

		a {
			padding: 1em .6em;
			display: inline !important;
			&:hover {
				color: $brand-primary;
			}
		}

		.caret {
			transform: rotate(90deg);
		}
	}

	@import "dropdown56em.scss";
}