.dropdown {
  width: 100%;
  z-index: 999;
  background: $nav-bg;

  transition: all 0.3s ease 0s;

  .caret i {
    font-size: .7em;
  }

  .dropdown-menu {
    margin-top: -1px;
    display: none;
    margin-left: .8em;
    transition: all 0.3s ease 0s;
    li {
      border-bottom: 1px solid $brand-secondary !important;

      &:hover {
        background: #f8f8f8 !important;
      }

      &:last-child {
        border: none !important;
      }
    }

  }
}

.active {
  background: $nav-dropdown-active !important;

  .caret {
    @include rotate(90deg);
  }

}

.show-menu {
  display: block !important;
}