.dropdown {
  background: none !important;
  position: relative;

  .caret {
    width: 16px;
    padding-left: 1px;
    i {
      font-size: .6em;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 2em;
    right: 0;
    padding: 0.8em;
    display: none;
    margin-top: .8em;
    width: 12.5em;
    border: 1px solid $brand-secondary;

    li {
      display: block !important;
      padding: .4em 0;
      text-align: center;
      a {
        padding: .7em .6em !important;
        display: block !important;
        border-bottom: 1px solid $brand-secondary !important;
      }
      &:hover {
        background: $nav-dropdown-active !important;
      }

      &:last-child a {
        border: none !important;
      }
    }

  }
}


.active {
  background: white !important;
}