ul.social-list {
	margin-top: 1.313em;
	li.social-item {
		width: 2em;
		height: 2em;
		display: inline-block;
		cursor: pointer;
		border-radius: 50%;
		padding: .3em 0;
		background: transparent;
		border: 2px solid white;
		transition: all 0.3s ease 0s;
		margin: 0 2px;
		a {
			cursor: pointer;
			color: white;
			&:visited {
				color: white;
			}
			&:hover{
				color: white;
			}
		}

	}

	.facebook {
		&:hover {
			background: #3b5998 !important;
			border-color: #3b5998 !important;
		}
	}
	.foursquare {
		&:hover {
			background: #0732a2 !important;
			border-color: #0732a2 !important;
		}
	}
	.tripadvisor {
		&:hover {
			background: #589442 !important;
			border-color: #589442 !important;
		}
	}
	.instagram {
		&:hover {
			background: #405de6 !important;
			border-color: #405de6 !important;
		}
	}
	.google {
		&:hover {
			background: #dd4b39 !important;
			border-color: #dd4b39 !important;
		}
	}
	.twitter {
		&:hover {
			background: #55acee !important;
			border-color: #55acee !important;
		}
	}
}