.language-selector {
  position: absolute;
  //left: .3125em;
  text-align: center;
  padding-top: 1.8em;
  padding-left: 1em;

  ul {
    height: 2em;
  }


  .language {
    background: url('../img/flags.png') no-repeat;
    background-size:cover;
    width: 27px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
  }

  .es_ES {
    background-position-x: -3px;
  }

  .en_US {
    background-position-x: -28px;
  }

  .fr_FR {
    background-position-x: -52px;
  }

  .it_IT {
    background-position-x: -77px;
  }

  .current-lang {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left:0;
      right:0;
      width: 5px;
      height: 5px;
      border-width: 0 2px 2px 0;
      border-color: #ccc;
      border-style: solid;
      @include rotate(45deg);
      margin: auto;
    }
  }

}