<div class="testimonials">
    <div class="testimonial-page testimonial-active">
        <div class="avatar">
            <img src="img/testimonial-avatar.jpg" alt=""><br>
            <span><strong>John A. Doe</strong></span><br>
            <span><i>Fullstack Developer at CYOM,Inc</i></span>
        </div>
        <div class="dialog-box">
            <img class="quote" src="img/quote-top.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quos dolorum beatae officiis ab ipsa aut ipsum iusto, eius neque dolor aliquam. Quisquam explicabo fugiat voluptatem nostrum, eos, dolorum eius.</p>
        </div>
    </div>
</div>