<nav ng-class="{'navbar-open': navbar.showOnMobile}">
    <div class="nav-content">
        <span class="close-nav" ng-click="navbar.hideNav()">&times;</span>
        <h1>MENU</h1>
        <ul class="main-menu menu">
            <menu-item ng-repeat="item in navbar.mainNavLinks"
                       url="{{item.url}}" text="{{item.text}}"
                       is-dropdown="item.isDropdown" dropdown-menu="item.dropdownMenu"

            ></menu-item>
        </ul>
        <ul class="sub-menu menu">
            <menu-item ng-repeat="item in navbar.subNavLinks"
                       url="{{item.url}}" text="{{item.text}}"

            ></menu-item>
        </ul>
    </div>
</nav>