$brand-primary:   #A29061;
$brand-secondary: #393939;
$max-container-width: 1600px;
$logo-width: 6.875em;
$logo-triangles-brd-width: 3.5em;

$nav-height: 5em;

$nav-item-bg: #242424;
$nav-item-hover: #1d1d1d;
$nav-dropdown-active: #363636;

