$brand-primary:   #A38E7B;
$brand-secondary: #373026;
$max-container-width: 1600px;
$logo-width: 6.875em;
$logo-triangles-brd-width: 3.5em;

$nav-height: 5em;

$nav-item-bg: white;
$nav-item-hover: #f8f8f8;
$nav-dropdown-active: $brand-primary;

