.shape-container {
	display: none;
}

.subscribe {
	@include span(full);

	padding: 2em 0 0;

	label {
		display: block;
	}

	input[type=text].subscribe-email {
		width: 65%;
		max-width: 68%;
		height: 2.5em;
		border-radius: 4px;
		border: 1px solid #ddd;
		padding: .313em .5em;
		margin-top: .313em;
	}

	.subscribe-button {
		height: 2.5em;
		cursor: pointer;
		$subscribe-btn-color: #DE4154;
		background: $subscribe-btn-color;
		border-radius: 4px;
		padding: .313em .5em;
		color: white;
		border: 1px solid $subscribe-btn-color;

		&:hover {
			background: $subscribe-btn-color + 20;					
		}
	}
}

@media screen and (min-width: 42em){
	.subscribe {
		@include span(6 of 12 last);
	}
}

@media screen and (min-width: 56em){
	.subscribe {
		@include span(8 of 12 last);
	}
}