.contact-form {
  width: 100%;
  margin: auto;
  padding: 5em 2em;

  .contact-intro {
    //height: 8em;
    padding-bottom: .5em;
    p {
      color: $brand-primary;
    }
  }

  button {
    background: $brand-primary !important;
    width: 50%;
    color: white !important;
  }
}

@media screen and (min-width: 42em) {
  .contact-form {
    max-width: 60%;

  }
}