.wrap {
	@include container;
	
	/*********************************** NAVBAR (HIDDEN MOBILE) ***********************************/

	@import "navbar.scss";

	/********************************** HEADER (WITH NAVBAR DESKTOP) ******************************/

	@import "header.scss";

	/**************************************** IMAGE CAROUSEL **************************************/

	@import "carousel.scss";


	/********************************** TESTIMONIALS SECTION **************************************/

	@import "testimonials.scss";

	@import "relaisSection.scss";

	/******************************************* MAIN CONTENT AREA *******************************/

	#main-content {		
		
		article {
			@include span(full);
			
			@import "parallaxCardContainer.scss";
		}

		@import "cardDescription.scss";
	}

	/******************************************* FOOTER *******************************************/

	@import "footer.scss";

	.packages-intro {		

		.intro-text {
			font-size: 3em;
			text-align: center;
		}

		hr {
			border: 1px solid #ddd;
			margin: 0 auto 1.5em;
			width: 60%;
		}
	}

	.packages-container {
		@include clearfix;
		padding: 1.5em;	

		
	}
}