.default-button {

  @include transition(all, .3s, ease-in-out);

  display: block;
  margin: 1.5em auto;
  padding: 0.4em;
  width: 7em;
  color: $brand-secondary;
  border: 2px solid $brand-secondary;
  background: white;
  cursor: pointer;

  &:hover {
    color: white;
    background: $brand-secondary;
  }
}