.testimonials {
	@include span(full);

	background: #EFF5F7;		
	padding: 1em 0;

	text-align: center;
	
	.avatar {
		img {
			width: 5em;
			border-radius: 50%;
			border: .5em solid white;
		}
	}

	.dialog-box {
		position: relative;
		background: white;
		border-radius: 5px;
		margin: 20px auto;
		width: 90%;
		padding: 0.8em 0.313em;
		z-index: 0;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);

		.quote {
			width: 1em;
		}

		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: -1.25em;				
			margin: 0 auto;
			border-top: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid white;
			border-left: 10px solid transparent;
		}
	}
}