header {
	@include span(full);

	.nav-toggle {
		display: none !important;
	}
	
	.logo-container	{
		.logo {
			img {
				padding-top: 30px;
				width: 170px;
			}
			&::before {
				border-width: 90px 100px 0 100px;
			}
			&::after {
				border-width: 94px 104px 0 104px;
			}
		}

	}

}