header {
	@include span(full);
	
	.logo-container	{			
		.logo {
			img {
				padding-top: 38px;
			}
			&::before {
				border-width: 60px 70px 0 70px;
			}
			&::after {
				border-width: 64px 74px 0 74px;
			}
		}
	}

}