<slider></slider>
<div class="l-container-2col">
    <aside class="l-container-first-col">
        <sidebar title="{{'room.type.suite' | translate}}"
                 services="suite.services"
                 with-body="true" with-footer="true"></sidebar>
    </aside>
    <div class="l-container-second-col">
        <article>
            <div class="article-title">
                <h1>
                    {{ "room.type.suite" | translate }}
                </h1>
            </div>
            <div class="article-body">
                <slider slides="suite.roomSlides"></slider>
                <p class="article-text" >
                    {{ "rooms.suite.introText" | translate }}
                </p>
            </div>
            <room-price room-type-key="room.type.suite" price="455"></room-price>
            <button class="btn-default">Booking</button>
        </article>
    </div>
</div>