<header>
    <a href="#!/home">
        <div class="logo-container">
            <div class="logo">
                <img src="{{header.logoUrl}}" alt="">
            </div>
        </div>
    </a>
    <div class="nav-toggle" ng-click="header.showNav()">
        <button>
            <i class="fa fa-navicon fa-fw"></i>
        </button>
    </div>
    <div class="language-selector">
        <i class="fa fa-language"></i>
        <select class="language-select">
            <option value="en_US">English</option>
            <option value="es_ES">Espa&ntilde;ol</option>
            <option value="it_IT">Italiano</option>
        </select>
    </div>
    <app-nav show-on-mobile="header.showOnMobile"></app-nav>
</header> <!-- top header -->