<!--<div class="language-selector" ng-if="lang.visible">
    <i class="fa fa-language"></i>
    <select class="language-select" ng-model="lang.currentLocaleDisplayName"
            ng-options="item for item in lang.localesDisplayNames"
            ng-change="lang.changeLanguage()">
    </select>
</div>-->
<!--

<ul class="nav navbar-nav navbar-right language-select">
    <li class="dropdown" ng-if="$ctrl.visible">
        <a data-toggle="dropdown" class="dropdown-toggle">
            <i class="fa fa-language fa-fw"></i>
            {{$ctrl.currentLocaleDisplayName}}
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li ng-repeat="localeDisplayName in $ctrl.localesDisplayNames">
                <a class="srcless-link" ng-click="$ctrl.changeLanguage(localeDisplayName)">{{localeDisplayName}}</a>
            </li>
        </ul>
    </li>
</ul>-->
