<footer>
    <div class="subscribe-section">
        <div class="shape-container">
            <div class="footer-shape">
                <strong>{{footer.shapeText}}</strong>
            </div>
        </div>
        <div class="subscribe">
            <label><strong>Sign up for our newsletter</strong></label>
            <input type="text" class="subscribe-email" placeholder="Please enter your email">
            <button class="subscribe-button">Subscribe</button>
        </div>
    </div>
    <div class="footer-col">
        <h1>contact</h1>
        <ul class="contact-list">
            <li ng-repeat="contact in footer.contactList" class="contact-item">
                <span class="contact-title"><strong>{{contact.title}}:</strong></span>
                <span class="contact-detail">{{contact.detail}}</span>
            </li>
        </ul>
        <ul class="social-list">
            <li class="social-item facebook"><i class="fa fa-facebook fa-fw"></i></li>
            <li class="social-item foursquare"><i class="fa fa-foursquare fa-fw"></i></li>
            <li class="social-item tripadvisor"><i class="fa fa-tripadvisor fa-fw"></i></li>
            <li class="social-item instagram"><i class="fa fa-instagram fa-fw"></i></li>
            <li class="social-item google"><i class="fa fa-google-plus fa-fw"></i></li>
            <li class="social-item twitter"><i class="fa fa-twitter fa-fw"></i></li>
        </ul>
    </div>
    <div class="footer-col">
        <h1>location</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quidem voluptatibus tenetur quos eius quisquam officiis!</p>
        <div class="map">
            <img src="img/gmap.png" alt="">
        </div>
    </div>
</footer>