<footer>
    <div class="footer-col">
        <img class="footer-logo" src="img/logo white.png" alt="">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut, cupiditate dolor itaque qui quia reprehenderit? Amet delectus facilis iure laborum porro quas quos, recusandae repellat suscipit voluptas? Et, laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut, consequatur cumque distinctio dolorem eius esse harum impedit ipsa maiores necessitatibus optio rem saepe tenetur voluptate! Autem consequuntur et tenetur.
        </p>
        <ul class="social-list">
            <li class="social-item facebook">
                <a target="_blank" href="https://www.facebook.com/HotelOrfila">
                    <i class="fa fa-facebook fa-fw"></i>
                </a>
            </li>
            <li class="social-item foursquare">
                <a target="_blank" href="https://es.foursquare.com/v/hotel-orfila/4b741c96f964a52071c82de3/photos">
                    <i class="fa fa-foursquare fa-fw"></i>
                </a>
            </li>
            <li class="social-item tripadvisor">
                <a target="_blank" href="https://www.tripadvisor.es/Hotel_Review-g187514-d232824-Reviews-Hotel_Orfila-Madrid.html">
                    <i class="fa fa-tripadvisor fa-fw"></i>
                </a>
            </li>
            <li class="social-item instagram">
                <a target="_blank" href="https://www.instagram.com/hotel_orfila/">
                    <i class="fa fa-instagram fa-fw"></i>
                </a>
            </li>
            <li class="social-item google">
                <a target="_blank" href="https://plus.google.com/106269268807096378896/about">
                    <i class="fa fa-google-plus fa-fw"></i>
                </a>
            </li>
            <li class="social-item twitter">
                <a target="_blank" href="https://twitter.com/hotelorfila">
                    <i class="fa fa-twitter fa-fw"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>