card:nth-child(3n+0) {
	.card {
		margin-right: 0 !important;
	}
}



.card {
	@include span(4 of 12 )  ;



	&.last {
		margin-right: 0 !important;

	}


	hr {
		margin: 0 auto !important;
		border: 0;
		border-top: 1px solid #eee;
		width: 90%
	}

	h2
	{
		margin-bottom:-10px !important;
	}

	.card-img{
		margin-left: -200% !important;
	}

	.card-head {
		@include span(full);
		&::before {
			content: none;
		}
		height: auto;



		padding: 0;
		overflow: initial;
	}

	.card-body {
		@include span(full);
		padding: 0.8em 2em;
		height: auto;
		white-space:pre-line;


		p {
			text-align: left !important;
			word-break:  keep-all;
		}
	}

}