
.card {
	@include span(full);
	text-align: center;
	background: white;
	border: 1px solid $brand-primary;
	margin-bottom: gutter(4);

	hr {
		margin: .8em auto !important;					
		border: 0 !important;
		border-top: 1px solid $brand-primary !important;
		width: 90% !important;
	}

	h2 {
		color: $brand-primary;
		font-size: 1.3em;
		//padding-top: 1em;
	}

	.card-head {
		.card-img {	
			position: relative;
			width: 100%;							
		}
	}

	.card-body {
		padding: 0.8em 2em;
	}
}