article {
  padding: 2em;

  .article-title {

  }
  text-align: center;
  img.article-image {
    width: 100%;
    max-width: 850px;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75)
  }

  p.article-text {
    text-align: justify;
    padding-top: 1em;
    &::first-letter {
      font-size: 2em;
    }
  }
}