nav {
	position: static !important;
	z-index: 0;
	@include span(full);

	.close-nav {
		display: none;
	}

	.nav-content {
		color: $brand-primary;
		padding: 1.8em 2em 0 0;
		//text-align: right !important;
		position: static !important;

		h1 {
			display: none !important;
		}	

		@import "navMenu56em.scss";
	}
	
}