nav {
	position: absolute !important;
	left: 0;
	right: 0;

	z-index: 0;
	@include span(full);

	.close-nav {
		display: none;
	}

	.nav-content {
		color: $brand-primary;
		padding: 1.8em 0;

		//position: static !important;

		h1 {
			display: none !important;
		}	

		@import "navMenu56em.scss";
	}
	
}