.sub-menu {
	position: absolute;
	top: 10%;
	right: 17%;

	a {
		color: $brand-primary;
		padding: 1em 0 !important;
		border: none !important;
		&:hover {
			color: white !important;
		}
	}

	menu-item {
		&::after {
			content: " | ";
			color: $brand-primary;
		}
		&:last-child::after {
			content: none;
		}
	}
}

.menu {
	.menu-item {
		display: inline !important;
		padding: 0;		
		border: none !important;					
		
		&:hover {
			background: none !important;						
		}

		a {
			padding: 1em .6em .8em;
			display: inline !important;
			&:hover {
				color: $brand-primary;
			}

			&.active-link {
				border-bottom: 2px solid white;
			}
		}

		.caret {
			float: none;
			transform: rotate(90deg);
		}
	}

	@import "../dropdown/dropdownComponent.scss";
}