.menu-container {
	@include container;
	max-width: 1200px;
	margin: 0 auto;
	.menu-first {
		@include span(5 of 12);
		text-align: center;
		//padding-right: 6.5em;
	}

	.menu-second {
		@include span(5 of 12 last);
		text-align: center;
		//padding-left: 6.5em;
	}
}



.menu {
	.menu-item {
		display: inline !important;
		padding: 0;
		border-top: none !important;
		
		&:hover {
			background: none !important;						
		}

		a {
			font-size: 1.05em;
			padding: 1em .6em 2.55em;
			display: inline;
			color: $brand-primary;
			&:hover {
				color: $brand-secondary;
			}

			&.active-link {
				color: black !important;
				border-bottom: 2px solid rgba(0,0,0,.5);
			}
		}

		.caret {
			float: none;
			@include rotate(90deg);
		}
	}

}