.sidebar {
  color: $brand-primary;
  //background: $brand-secondary;
  background: white;
  padding: 1em;
  margin: 1.8em 1em;
  //border-radius: 5px;
  border: 2px solid $brand-secondary;

  .sidebar-head {
    text-align: center;
    padding-bottom: 1em;

    .sidebar-logo {
      font-size: 7em;
      text-shadow: -2px -2px rgba(0,0,0,0.1);
      font-family: geniusthin;
    }
    .sidebar-title {
      font-size: 1.5em;
    }

    .sidebar-separator {
      width: 60%;
      height: 1px;
      background: $brand-primary;
      margin: .8em auto;
      opacity: 0.4;
      position: relative;

      &::after {
        content: '';
        width: 18%;
        height: 1px;
        background: $brand-primary;
        position: absolute;
        top: 4px;
        margin: 0 auto;
        left: 41%;
      }
    }
  }

  .sidebar-body {
    color: $brand-secondary;
    .sidebar-body-title {
      text-align: center !important;
    }
    .sidebar-list {
      padding: 0.8em 1.7em 0;
      >li {
        padding-bottom: .7em;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 6px;
          top: 3px;
          left: -10%;
          border-width: 0 0 1px 1px;
          border-style: solid;
          border-color: $brand-secondary;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@import "../sidebarFooter/sidebarFooterComponent";