.testimonials {
	@include span(full);

	background: white;
	padding: 2em 0;

	text-align: center;

	transition: all linear 0.5s;

	h1 {
		text-align: center;
		text-transform: uppercase;
		color: $brand-primary;
	}

	p {
		padding: .8em;
		color: $brand-primary;
	}

	.testimonial-container {
		@include clearfix;
		width: 85%;
		margin: 0 auto;
		border: 1px solid $brand-primary;
		display: flex;
	}

	.avatar-container {
		.avatar {
			text-align: center;
			img {
				display: inline;
				vertical-align: middle;
				width: 7em;
			}

		}
	}

	.dialog-box {
		p {
			padding: .5em;
			text-align: justify !important;
		}
	}


	.testimonial-page {
		display: none;
		position: relative;

		.prev {
			position: absolute;
			height: 130px;
			left: 0;
			width: 29px;
			top: 0;
			display: block;
			cursor: pointer;
			z-index: 1;

			.prev-btn {
				content: "";
				position: absolute;
				left: .5em;
				top: 2em;
				width: 2em;
				height: 2em;
				border-width: 1px 0 0 1px;
				border-color: #363636;
				border-style: solid;
				transform: rotate(-45deg);

			}

		}

		.next {
			position: absolute;
			height: 130px;
			right: 0;
			top: 0;
			width: 29px;
			display: block;
			cursor: pointer;

			.next-btn {
				content: "";
				position: absolute;
				right: .5em;
				top: 2em;
				width: 2em;
				height: 2em;
				border-width: 1px 1px 0 0;
				border-color: #363636;
				border-style: solid;
				transform: rotate(45deg);

			}
		}
	}


	.testimonial-active {
		display: block !important;
		animation: fade .5s ease-in;
		@keyframes fade {
			from {opacity: 0;}
			to {opacity: 1;}
		}
	}


	.testimonial-indicator-container {
		position: absolute;
		top: .3em;
		width: 100%;
		li.testimonial-indicator {
			display: inline-block;
			margin: 0 .3em;
			width: .5em;
			height: .5em;
			background: white;
			border: 1px solid #ddd;
			border-radius: 50%;
			cursor: pointer;
		}

		li.testimonial-indicator-active {
			background: #ccc !important;
			border: 2px solid white !important;
		}
	}
}