.booking-container {
	@include span(full);

	.booking {
		-moz-transition: all .3s ease-in-out, left 1.5s ease-in-out;
		-webkit-transition: all .3s ease-in-out, left 1.5s ease-in-out;
		-moz-transition: all .3s ease-in-out, left 1.5s ease-in-out;
		-o-transition: all .3s ease-in-out, left 1.5s ease-in-out;
		transition: all .3s ease-in-out, left 1.5s ease-in-out;

		background: $brand-primary;
		color: white;
		padding: 1em 0;
		text-align: center;
		margin-top: -.187em;
		cursor: pointer;
	}
}