.booking-container {

	.booking {
		position: absolute;
		background: white;
		color: $brand-primary;
		border: none !important;
		bottom: 18em;
		left: 0;
		right: 0;
		margin: auto;
		width: 11em;
		z-index: 2;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

		&:hover {
			width: 11.5em;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			bottom: 17.5em;
			color: $brand-secondary;
		}
	}
}